/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

nav a:hover {
  color: #b48eff;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
}

.hero h2 {
  font-size: 2.5rem;
}

.hero button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.hero button:hover {
  background-color: #b48eff;
}

/* Gallery */
.gallery {
  padding: 40px 20px;
  text-align: center;
}

.gallery h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.gallery img {
  width: 250px;
  height :330px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}


.gallery img:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  padding: 20px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
}

.socials a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.socials a:hover {
  color: #b48eff;
}



/* WARDROBE*/
.view-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #b48eff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.view-btn:hover {
  background-color: #8a65d9;
}
.gallery-img {
  width: 220px;
  height: 330px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
}

